* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container{
  max-width: 85%;
  margin: 20px auto;
}

#project-image-container {
  /* border: 1px solid green; */
  columns: 3 250px;
  gap: 15px;
  margin-bottom: 6vh;
}
#individual-image {
  display: block;
  /* border: 1px solid blue; */
  margin-bottom: 10px;
  width: 100%;
}
